.header {
  height: 95vh; //95%
  background-image: linear-gradient(
      to right bottom,
      rgba($color-gray-dark, 0.8),
      rgba($color-tertiary-dark-2, 0.8)
    ),
    url('../../assets/eiffel-4.jpg');
  background-size: cover;
  background-position: top; //to be sure the top off the ba image will always show-off
  position: relative;
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); //to make it work on all the browsers

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  &__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 4rem;
    font-weight: 700;
    background-image: linear-gradient(
      to bottom,
      #88c7dc,
      $color-white
    );
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Great Vibes', cursive;
  }
  &__logo {
    height: 4rem;
    width: 6rem;

    &:hover {
      animation-name: moveupIcon;
      animation-duration: 2s;
    }
  }
}

.text-box {
  //to center the text box
  position: absolute;
  top: 20%;
  left: 15%;
  transform: translate(-7%, 0); //its relate to the elemnt it self
  text-align: center;
}

.btn-animated {
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; //this will stop the style of 0% before the animation stat
}
