.aboutme {
  
  padding: 15rem 5rem;
  background-image: linear-gradient(
    to right bottom,
    rgb(233, 240, 243),
    rgb(236, 239, 240)
  );

  //height: 120vh;#
  &__text {
    text-align: center;
    margin-bottom: 5rem;
    margin-top: -5rem;
  }
  @include respond(phone){
    padding: 15rem 1rem 5rem 1rem;
  }
}

.about {
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 4rem;
  transform: skew(5deg);
  font-size: 1.6rem;
  font-weight: 300;
  @include respond(phone){
    text-align: center;
  }
  & > * {
    transform: skewX(-12deg);
    
   
  }
  height: 60vh;
  width: 100%;
  
  &__shape {
    margin-top: 4rem;
    width: 35rem;
    height: 35rem;
    float: left;
    -webkit-shape-outside: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
    shape-outside: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    ); //in order to apply this the lement most have float and have the dementions(width and height), thats why we have float here
    //shape-outside: polygon(50%);
    //-webkit-clip-path: circle(50% at 50% 50%);
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );

    transform: translateX(2rem) skewX(0deg); //tohave some padding
    margin-right: 5rem;
   
   
  }
  &__img {
    height: 100%; //100% of the parent
    width: 100%;
    transform: translateY(1.5rem) translateX(-1.8rem) scale(1.2); //to center the image
    transition: all 0.3s;
  }
  &__text {
    transform: skewX(-12deg);
    padding-top: 12rem;
    font-size: 1.8rem;
   
    margin-top: 4rem;
    
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    // backface-visibility: hidden;
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &__img {
    transform: translate(-0.2rem);
    filter: blur(3px) brightness(80%);
  }
}

//response
@include respond(tab-port) {
  .about {
    background-color: rgba($color-white, 0.5);
    border-radius: 3px;
    padding: 6rem;
    transform: skew(3deg);
    font-size: 2rem;
    & > * {
      transform: skewX(-10deg);
    }
    height: 80%;
   
    &__shape {
 
      width: 30rem;
      height: 30rem;
      float: left;

      -webkit-shape-outside: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
      );
      shape-outside: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
      ); //in order to apply this the lement most have float and have the dementions(width and height), thats why we have float here
      //shape-outside: polygon(50%);
      //-webkit-clip-path: circle(50% at 50% 50%);
      clip-path: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
      );
  
      transform: translateX(-1rem) skewX(-12deg); //tohave some padding
     
    }
    &__img {
      height: 100%; //100% of the parent
      width: 100%;
      transform: translateY(1.5rem) translateX(-1.2rem) scale(1.2); //to center the image
      transition: all 0.3s;
    }
    &__text {
      transform: skewX(-12deg);
      padding-top: 5rem;
      font-size: 1.8rem;
    }
    &__caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-white;
      text-transform: uppercase;
      font-size: 1.6rem;
      text-align: center;
      opacity: 0;
      transition: all 0.5s;
      // backface-visibility: hidden;
    }
    &:hover &__caption {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    &:hover &__img {
      transform: translate(-0.2rem);
      filter: blur(3px) brightness(80%);
    }
  }
    
 }
 @include respond(tab-port) {
  .about {
    background-color: rgba($color-white, 0.5);
  
    border-radius: 3px;
    padding: 5rem 2rem 5rem 2rem;
    transform: skew(0deg);
    font-size: 2rem;
    & > * {
      transform: none;
    }
    height: 80%;
   
    &__shape {
    
      width: 25rem;
      height: 25rem;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-52%, -20%);
     /*  transform: translateX(-8.5rem) skewX(0deg); //tohave some padding */ 
      float: left;
      -webkit-shape-outside: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
      );
      shape-outside: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
      ); //in order to apply this the lement most have float and have the dementions(width and height), thats why we have float here
      //shape-outside: polygon(50%);
      //-webkit-clip-path: circle(50% at 50% 50%);
      clip-path: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
      );
     
       
     
      
    

    }
    &__img {
      height: 100%; //100% of the parent
      width: 100%;
      transform: translateY(2rem) translateX(-1.5rem) scale(1.2); //to center the image
      transition: all 0.3s;
    }
    &__text {
      transform: skewX(0deg);
      padding-top: 30rem;
      font-size: 1.8rem;
     
    }
    &__caption {
      
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-white;
      text-transform: uppercase;
      font-size: 1.5rem;
      text-align: center;
      opacity: 0;
      transition: all 0.5s;
      // backface-visibility: hidden;
    }

    &:hover &__caption {
      opacity: 0;
      
    }
    &:hover &__img {
      transform: translate(0);
      filter: unset;
    }
   
  }
    
  .aboutme {
   
    &__text {
      margin-top: -18rem;
    }
  }
 }
 