.section-contactez-nous {
  background-color: $color-tertiary-dark-2;
  padding: 15rem 5rem;
  background-image: linear-gradient(
    to right bottom,
    rgb(233, 240, 243),
    rgb(221, 227, 230)
    
  );
 
  @include respond(tab-port){
    padding: 15rem 1rem 5rem 1rem;
  }
}

.contact-header {
  
  text-align: center;
  &__main {
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: white;
    font-weight: 700;
    letter-spacing: 2.5px;
    
  }
  &__sub {
    display: block;
    margin-bottom: 5rem;
    font-size: 2rem;
    font-weight: 400;
  }
}

.contact {
  
  width: 80%;
  margin: 0 auto;
  padding: 5rem;
  background-image: linear-gradient(
      45deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 60%,
      transparent 50%
    ),
    url('../../assets/contact.jpg');
  background-size: cover;

  border-radius: 3px;
  box-shadow: 0 1.5rem 2rem rgba($color: #b1a9a9, $alpha: 0.5);
  &__icon {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    & a,
    & a:visited{
        text-decoration: none;
        color: unset;
    }
  }
  &-icon {
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 2rem;
    
    display: inline-block;

    &__icon {
      font-size: 5rem;
      transition: all .2s;
    }
  }
  &-icon__icon:hover {
    animation: moveIcon 0.9s;
    background-image: linear-gradient(
      $color-tertiary-dark-1,
      $color-tertiary-dark-2
    );
   box-shadow: 0 1rem 1rem rgba($color: #e0d6d6, $alpha: 0.2);
    border-radius: 5px;
    //transform: scale(1.1);
  }
}
.form {
  // background-color: $color-tertiary-dark-2;
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  width: 80%;
  padding: 6rem;

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.9);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.5s;
    &::-webkit-input-placeholder {
      color: $color-gray-dark-2;
    }
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 1);
      border-bottom: 3px solid $color-tertiary-dark-1;
    }
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }
  }
  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    display: block;
    margin-top: 0.7rem;
    transition: all 0.3s;
  }

  &__textarea {
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}


.sbmit{
  border: unset;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block; //we wil always do this to have some pading or width ...
  border-radius: 10rem;
  
  &::after {
    content: '';
    display: inline-block;
    height: 100%; //of the btn original size
    width: 100%;
    position: absolute; //we will use absolut posinot to put it behinde the actuel button
    //but the obsolute need always a refernce, so we use a reletive position in parent button
    top: 0;
    left: 0;
    z-index: -1; //z-index define the postion of the elements if the one on top of the an other, with this we put the opsudo elemnt behinde the actuel buttons..

    //this is the inital state so lets use the animations..
    transition: all 0.4s;
  }
  &:hover::after {
    //when do I wnat to see the ::after effect?  its when we hover
    transform: scaleX(1.5) scaleY(1.4);
    opacity: 0; //to make it fade up, so we dont see when it go back
  }
}

.btn--blue-sbmit {
  background-image: linear-gradient(
    $color-primary,
    $color-tertiary-dark-2
  
  );
  color: white;
  position: relative;

  &::after {
    //when do I wnat to see the ::after effect?  its when we hover
    background-color: $color-gray-dark;
    border-radius: 10rem;
  }
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 1rem rgba($color-gray-dark, $alpha: 0.8);
  }
  &:active {
    transform: translateY(
      -0.01rem
    ); //in relation to the intial state(before hover)
  }
}

//response
@include respond(tab-port) {
 .contact{
  width: 100%;
 }
 .form{
  width: 100%;
  padding: 0rem;
  &__input {
    width: 100%;
  }
 }
   
}
@include respond(phone) {
  .contact-header {
    margin-top: -8rem;
    &__main {
      font-size: 2rem;
      font-weight: 700;
      
    }
    &__sub {
      display: block;
      margin-bottom: 5rem;
      font-size: 2rem;
      font-weight: 400;
    }
  }

  .contact{
    padding: 1rem ;
  }
  
}
