.feature {
  display: flex;
  justify-content: space-around;
  
  @include respond(tab-port) {
    flex-wrap: wrap;
    
  }
}

.feature-box {
  flex-basis: 20%;
  background-color: red;
  margin: 2rem;
  background-color: rgba($color-white, $alpha: 0.8);
  font-size: $default-font-size;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 1);
  transition: transform 0.3s;
  @include respond(tab-port) {
    padding: 2rem;
    flex-basis: 40%;
  }
  @include respond(phone) {
   
    flex-basis: 100%;
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(
      to right bottom,
      $color-primary,
      $color-tertiary-dark-1
    );
    display: inline-block;
    -webkit-background-clip: text; //to showthe color exactly where the txt is
    background-clip: text;
    color: transparent; //the color of the text is transpaent to make us see the -webki-clip
    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
  &__text {
  }
}

.link {
  text-decoration: none;
  color: $color-gray-dark;
  flex-basis: 25%;
}
