.review {
  background-color: white;
  box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 1);

  padding: 3rem;
  margin: -25rem 4rem 0 4rem;
  text-align: center;
  position: relative;
  z-index: 10;

  &__modules {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10rem;
    margin-top: 10rem;
    border-bottom: 1px solid $color-gray-light-2;

    & > * {
      flex: 1 1 0;
      flex-basis: 50%;
    }
  }
}

////////////////////////////////////////////////////
///LIST

.list {
  list-style: none;
  margin: 3rem 0;
  font-size: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    margin-bottom: 0.7rem;
    flex: 0 0 51%;
    position: relative;
    cursor: pointer;
  }
  &__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.05px;
    background-image: linear-gradient(
      to right bottom,
      $color-gray-dark,
      $color-tertiary-dark-1
    );

    transform: scaleY(1);
    transition: all 0.25s;
  }

  &__item:hover::before {
    width: 100%;
  }

  &__link:link,
  &__link:visited {
    color: $color-gray-dark;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1rem 1rem;
    position: relative;
    z-index: 10;
  }
  &__link:link {
    color: white;
  }
}
