.module {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 52rem;
  position: relative;
 

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 1);

    &--front {
      background-color: rgb(255, 255, 255);
    }
    &--back {
      transform: rotateY(-180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          rgba(rgb(89, 177, 162), 1) 10%,
          rgba(rgb(61, 109, 186), 1) 90%
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          rgba(rgb(119, 38, 38), 1) 10%,
          rgba(rgb(218, 167, 85), 1) 90%
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          rgba(rgb(55, 182, 154), 0.8) 10%,
          rgba(rgb(206, 219, 26), 1) 90%
        );
      }
      &-4 {
        background-image: linear-gradient(
          to right bottom,
          rgba(rgb(85, 63, 165), 1) 10%,
          rgba(rgb(231, 150, 37), 1) 90%
        );
      }
      &-fle-1 {
        background-image: linear-gradient(
          to right bottom,
          rgb(214, 217, 204),
          rgb(212, 136, 14)
        );
      }
      &-fle-2 {
        background-image: linear-gradient(
          to right bottom,
          rgb(53, 139, 208),
          rgb(9, 60, 65)
        );
      }
      &-fle-3 {
        background-image: linear-gradient(
          to right bottom,
          rgb(198, 78, 19),
          rgb(97, 107, 143)
        );
      }
      &-fle-4 {
        background-image: linear-gradient(
          to right bottom,
          rgb(83, 81, 87),
          rgb(23, 174, 149)
        );
      }
      &-cours-1 {
        background-image: linear-gradient(
          to right bottom,
          rgba(rgb(133, 133, 20), 0.5) 10%,
          rgba(rgb(244, 123, 82), 0.9) 90%
        );
      }
      &-cours-2 {
        background-image: linear-gradient(
          to right bottom,
          rgba(rgb(236, 93, 93), 0.5) 10%,
          rgba(rgb(73, 191, 199), 0.9) 90%
        );
      }
      &-cours-3 {
        background-image: linear-gradient(
          to right bottom,
          rgba(rgb(135, 141, 201), 0.5) 10%,
          rgba(rgb(106, 6, 99), 0.9) 90%
        );
      }
      &-cours-4 {
        background-image: linear-gradient(
          to right bottom,
          rgba(rgb(215, 236, 61), 0.5) 10%,
          rgba(rgb(10, 9, 0), 0.9) 90%
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  
  
  

  &__details {
    margin-top: 5rem;
    font-size: 1.4rem;
    &--list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;

      &--item {
        flex: 0 0 80%;
        margin-bottom: 1rem;
        text-transform: uppercase;
        text-align: center;
        padding: 1rem;
        position: relative;
        &:not(:last-child) {
          border-bottom: 1px solid $color-gray-dark;
        }

        &--link:link,
        &--link:visited {
          text-decoration: none;
          color: $color-gray-light;
        }
      }
    }

    
  }
  //front side styling

  //back side stling

  &__side &__cta {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
  }
  &__price--box {
    color: white;
    margin-bottom: 2rem;
  }
  &__price--only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  &__price--value {
    font-size: 6rem;
    font-weight: 100;
  }

  //@include respond(tab-port) {
    @media only screen and (max-width: 56.25rem), only screen and (hover: none) {
      height: auto;
      border-radius: 0.2rem;
      background-color: $color-white;
      box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.8);
      .module__details{
        &--list{
          display: none;
        }
        
      }
      .module__cta{
        padding-bottom: 15rem;
      }
      &__side {
        height: auto;
        position: relative;
        box-shadow: none;
        &--front {
          height: 50rem;
        }
        &--back {
          height: 30rem;
          padding-bottom: 40rem;
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        }
        
      }
  
      &:hover &__side--front {
        transform: rotateY(0);
      }
  
      //back side styling
      &__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0); //in order to center the elemnt
        width: 100%;
        padding: 6rem 4rem 4rem 4rem;
      }
      &__price-box {
        margin-bottom: 3rem;
        padding: 4rem;
      }
  
      &__price-value {
        font-size: 4rem;
      }
    }
}

