@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  //  60%{
  //  transform: rotate(-20deg);
  // }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1; //or transition
    transform: translateX(0);
  }
}

@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  // 60%{
  //  transform: rotate(20deg);
  // }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1; //or transition
    transform: translateX(0);
  }
}

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1; //or transition
    transform: translateY(0);
  }
}

@keyframes moveIcon {
  0% {
    opacity: 0;
    transform: rotateY(360deg);
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveupIcon {
  0% {
    opacity: 0;
    transform: translateY(-0.2rem) scale(1.2);
  }
  100% {
    opacity: 1;
  }
}
