//class that have one single job.
.center-text {
  text-align: center; //because the child is inline-block, so will be centered and it wil be traited as a text
}

.margin-bottom-big {
  margin-bottom: 6rem !important;
  @include respond(tab-port) {
    margin-bottom: 10rem !important;
    
  }
}
.margin-top-bot{
  padding: 5rem 5rem;
}
.margin-bottom-small {
  margin-bottom: 0.9rem !important;
}
.margin-bottom-medium {
  margin-bottom: 4rem !important;
  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.margin-top-big {
  margin-top: 8rem !important;
  @include respond(tab-port) {
    margin-top: 5rem !important;
  }
}


