$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #299bff;
$color-tertiary-dark: #5643fa;
$color-tertiary-dark-1: #146ca4;
$color-tertiary-dark-2: #152238;

$color-gray-light: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-dark: #777;

$color-white: #fff;
$color-black: #000;

//fonts
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$qutter-vertical: 8rem;
$qutter-horizontal: 6rem;
