*,
*::after,
*::before {
  margin: 0; //for all without any margin or padding
  padding: 0;
  box-sizing: inherit;
}
html {
  //this define what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
