.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden; //to hide that shakeing animation no desired
  margin-bottom: 4rem;

  &-main {
    display: block;
    font-size: 5.5rem;
    font-weight: 600;
    letter-spacing: 1.5rem;
    animation-name: moveInleft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    // animation-iteration-count: 3;
    // animation-delay: 3s;
    @include respond(tab-port) {
      letter-spacing: 1rem;
      font-size: 3rem;
    }
  }

  &-sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.8rem;
    animation: moveInright 1s ease-out;
    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading--secendary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  background-image: linear-gradient(
    to right bottom,
    $color-gray-dark,
    $color-primary
  );
  display: inline-block;
  -webkit-background-clip: text; //to showthe color exactly where the txt is
  background-clip: text;
  color: transparent; //the color of the text is transpaent to make us see the -webki-clip
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 3rem;
    padding-top: 10rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
    padding-top: 10rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color: $color-black, $alpha: 1.2);
  }
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-gray-dark;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.paragraph-formation {
  padding-bottom: 5rem;
  border-bottom: 1px solid $color-gray-light-2;
}

.header__logo-box {
  color: #000000;
  font-size: 700;
  font-weight: 400;
}

.review {
  // background-color: white;
  // box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 1);
  padding: 5rem;
  margin: -10rem 4rem 0rem 4rem;
  position: relative;
  z-index: 10;
  &__bottom-border {
    border-bottom: 1px solid $color-gray-light-2;
    margin-top: -5rem;
    margin-bottom: 5rem;
  }
  &__modules {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    margin-top: 10rem;
    margin-bottom: 10rem;
  /*   @media only screen and (max-width: 56.25rem), only screen and (hover: none) {
      
        background-color: rgb(80, 70, 177);
        width: 100%;
      
    } */
    & > * {
      flex: 1 1 1;
      flex-basis: 35%;
      margin-bottom: 5rem;
      margin-top: 5rem;
       //@include respond(tab-port) {
     /* @media only screen and (max-width: 56.25rem), only screen and (hover: none) {
      flex-basis: 100%;
      
     }  */

     
  
    }
   
  }
  &__header {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    flex-basis: 100%;
    margin-bottom: 5rem;
  }
  &__text {
    margin: 5rem;
    width: 100%;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2rem 5rem rgba($color: #000000, $alpha: 0.5);
    &-display {
      display: inline-block;
      width: 100%;
    }
  }
  &__picture {
    background-size: cover;
    background-blend-mode: screen;
    height: 23rem;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }

  &__heading {
    position: absolute;
    top: 12rem;
    right: 2rem;
    font-size: 2.2rem;
    font-weight: 300;
    text-align: right;
    color: white;
  }
  &__heading-span {
    padding: 1rem 1.5rem;
    letter-spacing: 2px;

   
  }

  &__price {
    display: flex;
    // column-count: 2;
    // column-gap: 4rem;
    // column-rule: 1px solid $color-gray-light-2;
    // hyphens: auto;
    font-size: 1.3rem;

    &-item {
      margin: 3rem;
      flex-basis: 50%;
    }

    &--center {
      text-align: center;
    }
  }
}




 @media only screen and (max-width: 56.25rem), only screen and (hover: none) {  
  .review{

    &__modules{
      & > *{
        flex-basis: 68%; 
        text-align: center;
      }
    }

   
  }
 } 

 @media only screen and (max-width: 37.5rem) {
      
  .review{
    padding: 0rem 0rem 0rem 0rem;
    margin: -10rem 2rem 0rem 2rem;
    &__modules{
    
      & > *{
        
        flex-basis: 100%; 
      }
    }
    &__heading{
      
     
    }
    &__header {
      text-align: center;
      font-size: 4rem;
      font-weight: 700;
      text-transform: uppercase;
      flex-basis: 100%;
      margin-bottom: 5rem;
      margin-top: -5rem;
 
      
    }
    &__price{
       flex-direction: column;
    }
  }
 } 